.team-selector { display: flex;
    
    @media (max-width: 992px) { flex-direction: column; flex-grow: 2;
        .item-selector { width: 100%; }
    }  

    &__content { display: flex;
        @media (max-width: 992px) { flex-direction: column;}
        &-players { display: flex; flex-direction: row; 
            .item-selector { width: 50%; }
        }
    }


}