body {background-color: #060e04;color: rgb(209, 209, 209);font-size: 16px;}

.error {color: red;}

input{ background-color: hsl(0,0%,100%); border-color: hsl(0,0%,80%); border-radius: 4px;border-style: solid;border-width: 1px;min-height: 38px;padding: 2px 8px;}

.form-input{margin-bottom: 10px;
    @media(min-width: 500px){
        max-width: 450px;
    }
}