$positionIconSize: 35px;

.bad { color: indianred }

.good { color: forestgreen }

.stats-item{
  background: rgba(0, 0, 0, 0.1);
  margin: 10px 0;

  .row{
    padding: 10px 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__position {
    margin-right: 20px;
      span{
        color: #ffffff;
        width: $positionIconSize;
        height: $positionIconSize;
        background: #729096;
        border-radius: 5px;
        display: block;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        padding: 0;
        text-align: center;
      }
  }

  &__container{
  }

  &__percentage{
    text-align: right;
    font-size: 30px;
    font-weight: 100;
    z-index: -1;
  }

  &__names{
    text-align: left;
    flex-grow: 2;
  }

  &__name{
    text-align: left;
    flex-grow: 2;
    font-size: 120%;
  }

  &__player-names{
    text-align: left;
    flex-grow: 2;
    font-size: 80%;
  }
}

@media (max-width: 768px){
  .stats-item{
  
    &__position {
  
        span{
        }
    }
  
    &__container{
    }
  
    &__percentage{
    }
  
    &__name{
    }
  }
}