.winner {
  color: mediumspringgreen;
}

.match-list-item{
  text-align: center;
  margin: 20px;
  color: #bbbbbb;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;

  &:hover{
    background: rgba(255, 255, 255, 0.2);
  }

  &__team-name{
    font-size: 120%;
  }
  &__team-members{
    font-size: 80%;
  }
  &__score{
    font-size: 300%;
  }

  &__note{
    font-size: 120%;
    font-style: italic;
    font-weight: lighter;
  }

  &__played{
    font-size: 80%;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
  }

}

table {
  font-size: 80%;
  width: 100%;

  tr {
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    td:first-child {
        padding: 0 1rem;
    }
  }

  td.score {
    text-align: center;
  }

  td.note {
    max-width: 10rem;
  }
}
