.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  &__form {
    width: 400px;
    padding: 2rem;
  }

  &__error-message {
    font-size: 1.1rem;
    font-weight: 600;
    color: red;
    margin-bottom: .8rem;
  }
}
